<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gamestore</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://kit.fontawesome.com/35f80e81d4.js" crossorigin="anonymous"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">

	<style>
		body {
		  background-image: url('/img/background.jpeg');
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover;
		}
	</style>


</head>
<body>
	<header class="main-header">
		<div class="main-header-top-bar">
			<a href="/"><img src="/img/Gaming_Store_Logo.jpg" class="logo"></a>

			<div class="user-navbar">
				<div class="lrm-navbar">
					<ul>
						<li><a href="/login">LOGIN</a></li>
						<li><a href="/register">REGISTER</a></li>
						<li><a href="/cart">MY CART</a></li>
					</ul>
				</div>

				<form id="header-search" class="search-form" action="/search" method="GET">
					<input type="text" name="input-block-level" placeholder="Search game">
					<button type="submit" class="search-submit" title="search">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</div>
	</header>
	<main class="main-body">
		<div id="content-slider">
			<div class="slider-wrap">

			  	<!-- ===== Thumbnail ControlNav ======= -->
			  	<input type="radio" id="input-1" name="i" >
			  	<input type="radio" id="input-2" name="i" >
			  	<input type="radio" id="input-3" name="i" >
			  	<input type="radio" id="input-4" name="i" >

			  	<nav class="slider-dot-control">
					<label for="input-1" class="slider-dot"></label>
					<label for="input-2" class="slider-dot"></label>
					<label for="input-3" class="slider-dot"></label>
					<label for="input-4" class="slider-dot"></label>
				</nav>

			  	<!-- =================================== -->
				<nav class="slider-arrow-control">
					<label for="input-1"></label>
					<label for="input-2"></label>
					<label for="input-3"></label>
					<label for="input-4"></label>
				</nav>
			  	<!-- =================================== -->

			  	<!--    IMAGE NAVIGATION pic -->
			  	<div class="navigation">
					<label id="thumb-1" for="input-1" class="slider-thumb">
						<img src="/img/slider/tlou.jpg" alt="" id="p-1">
						<div class="slider-head">
						  	<h2>The Last Of Us</h2>
					  		<p>Part II</p>
					  		<a href="/detail">Buy</a>
						</div>
					</label>
	
				  	<label id="thumb-2" for="input-2" class="slider-thumb">
						<img src="/img/slider/warzone.jpg" alt="" id="p-2">
						<div class="slider-head">
							<h2>Warzone</h2>
							<p>Call of Duty</p>
					  		<a href="/detail">Buy</a>
						</div>
				  	</label>
	
				  	<label id="thumb-3" for="input-3" class="slider-thumb">
						<img src="/img/slider/tboi.jpeg" alt="" id="p-3">
						<div class="slider-head">
					  		<h2>The Binding of Isaac</h2>
					  		<p>Afterbirth</p>
					  		<a href="/detail">Buy</a>
						</div>
				  	</label>
	
				  	<label id="thumb-4" for="input-4" class="slider-thumb" tabindex="13">
						<img src="/img/slider/battlefield.jpeg" alt="" id="p-4">
						<div class="slider-head">
					  		<h2>Battlefield</h2>
					  		<p>2042</p>
					 		<a href="/detail">Buy</a>
						</div>
				  	</label>
				</div>

			  <!-- ===== IMages ======= -->

				<div class="slider">
					<div class="slider-inner">
					<figure>
						<figcaption class="slider-head">
						<h2>The Last of Us</h2>
						<a href="/detail">Buy</a>
						</figcaption>
						<img src=/img/slider/tlou.jpg alt="" id="i-1" class="slider-img">
					</figure>

					<figure>
						<figcaption class="slider-head">
						<h2>Warzone</h2>
						<a href="/detail">Buy</a>
						</figcaption>
						<img src="/img/slider/warzone.jpg" alt="" id="i-2" class="slider-img">
					</figure>

					<figure>
						<figcaption class="slider-head">
						<h2>the Binding of Isaac</h2>
						<a href="/detail">Buy</a>
						</figcaption>
						<img src="/img/slider/tboi.jpeg" alt="" id="i-3" class="slider-img">
					</figure>

					<figure>
						<figcaption class="slider-head">
						<h2>Battlefield</h2>
						<a href="/detail">Buy</a>
						</figcaption>
						<img src="/img/slider/battlefield.jpeg" alt="" id="i-4" class="slider-img">
					</figure>
					</div>
				</div>
			</div>
		</div>
		<div id="consoles-navbar">
			<div class="navBox">
				<ul class="consoles">
					<li class="menuBox"><a class="navItems" href="">Xbox</a>
						<ul class="games xbox">
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/xbox/battlefieldxbox.jpeg" alt=""> 
									<p>Battlefield</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/xbox/justcausexbox.jpeg" alt=""> 
									<p>Just Cause</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/xbox/thesurgexbox.jpeg" alt=""> 
									<p>The Surge</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/xbox/titalfallxbox.jpeg" alt=""> 
									<p>Titan Fall</p>
									<p>60.99</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="menuBox"><a class="navItems" href="">PlayStation</a>
						<ul class="games play">
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/play/unchartedplay.jpeg" alt=""> 
									<p>Uncharted 4</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/play/darksidersplay.jpeg" alt=""> 
									<p>Darksiders II</p>
									<p>Death Initive Edition</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/play/battlefieldplay.jpeg" alt=""> 
									<p>Battlefield 1</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/play/destinyplay.jpeg" alt=""> 
									<p>Destiny 2</p>
									<p>Expansion II</p>
									<p>60.99</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="menuBox"><a class="navItems" href="">Nintendo</a>
						<ul class="games nintendo">
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/nintendo/marionintendo.jpeg" alt=""> 
									<p>Super Mario Odyssey</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/nintendo/octopathnintendo.jpeg" alt=""> 
									<p>Octopath Traveler</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/nintendo/splatoonnintendo.jpeg" alt=""> 
									<p>Splatoon 2</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/nintendo/zeldanintendo.jpeg" alt=""> 
									<p>Zelda</p>
									<p>Breath of the Wild</p>
									<p>60.99</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="menuBox"><a class="navItems" href="">Pc</a>
						<ul class="games pc">
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/pc/gtapc.jpeg" alt=""> 
									<p>Grand Theft Auto V</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/pc/valorantpc.jpeg" alt=""> 
									<p>Valorant</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/pc/warframepc.jpeg" alt=""> 
									<p>Warframe</p>
									<p>60.99</p>
								</a>
							</li>
							<li class="items">
								<a href="/detail">
									<img class="displayMenuImg" src="/img/pc/wowpc.jpeg" alt=""> 
									<p>World of Warcraft</p>
									<p>60.99</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>	
			</div>
		</div>
	</main>
	<footer class="site-footer">
		<div class="container">
		  	<div class="row">
				<div class="about">
					<h6>About</h6>
					<p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quod, vel quaerat magni optio voluptates sit magnam, non hic ducimus eius nesciunt praesentium laudantium saepe inventore delectus mollitia maiores possimus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo consequuntur porro, enim quae, voluptas at soluta atque voluptate eum voluptatibus vitae in ex quam sapiente unde consectetur reprehenderit voluptatem harum.</p>
				</div>
				<div class="quick-links">
					<h6>Quick Links</h6>
					<ul class="footer-links">
						<li><a href="/">Home</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>
						<li><a href="/cart">My Cart</a></li>
					</ul>
				</div>
		  	</div>
		</div>
		<div class="container">
			<div class="row">
				<div>
					<p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
					<a href="/">GameStore</a>.
					</p>
				</div>
			</div>
			<div>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
					<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
				</ul>
			</div>
		</div>
  	</footer>
</body>
</html>