<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gamestore</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://kit.fontawesome.com/35f80e81d4.js" crossorigin="anonymous"></script>
	<style>
		body {
		  background-image: url('/img/background.jpeg');
		  background-repeat: no-repeat;
		  background-attachment: fixed;
		  background-size: cover;
		}
	</style>
</head>
<body>
	<header class="main-header">
		<div class="main-header-top-bar">
			<a href="/"><img src="/img/Gaming_Store_Logo.jpg" class="logo"></a>

			<div class="user-navbar">
				<div class="lrm-navbar">
					<ul>
						<li><a href="/login">LOGIN</a></li>
						<li><a href="/register">REGISTER</a></li>
						<li><a href="/cart">MY CART</a></li>
					</ul>
				</div>

				<form id="header-search" class="search-form" action="/search" method="GET">
					<input type="text" name="input-block-level" placeholder="Search game">
					<button type="submit" class="search-submit" title="search">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
		</div>
	</header>
    <main class="main-body">
        <div class="detalle">
           <div class="fotos">
              <img class= "fotoProducto" src="/img/fotoProducto.jpg" alt="Foto de Producto">
               <div class= "miniFotos">
                   <ul>
                       <li><img class="extra" style="width:114px; height:190px;" src="/img/LastofUs2img1.jpg"></li>
                       <li><img class="extra" style="width:114px; height:190px;" src="/img/LastofUs2img2.jpg"></li>
                       <li><img class="extra" style="width:114px; height:190px;" src="/img/LastofUs2img3.jpg"></li>
                  </ul>
              </div>
           </div>
            <div class="descripcion">
               <h3>PC</h3>
               <h2>The Last Of Us part II</h2>
               <div class= "estrellas">
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
                   <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
               </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                   elit. Quo, tempora ullam. Aspernatur accusantium 
                  distinctio quos aut officia impedit dignissimos 
                  perferendis non, eum quaerat dolorum sunt, in 
                  ipsum amet architecto ipsam.
              </p>
              <form class="cantidad" action="/cantidad" method="GET">
                   <label>Cantidad:</label>
                   <select name="cantidad">
                        <option value="1"selected>1</option>
                     <option value="2">2</option>
                    <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                    </select>
                </form>
                <div class="añadir">
                    <form action="" method="">         
                        <button class= "boton" type="button"><a href="/cart">Añadir al Carrito</a></button>
                    </form>        
                </div>
            </div>
        </div>
    </main>
    <footer class="site-footer">
		<div class="container">
		  	<div class="row">
				<div class="about">
					<h6>About</h6>
					<p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quod, vel quaerat magni optio voluptates sit magnam, non hic ducimus eius nesciunt praesentium laudantium saepe inventore delectus mollitia maiores possimus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo consequuntur porro, enim quae, voluptas at soluta atque voluptate eum voluptatibus vitae in ex quam sapiente unde consectetur reprehenderit voluptatem harum.</p>
                </div>
				<div class="quick-links">
					<h6>Quick Links</h6>
					<ul class="footer-links">
						<li><a href="/">Home</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>
						<li><a href="/cart">My Cart</a></li>
					</ul>
				</div>
		  	</div>
		</div>
		<div class="container">
			<div class="row">
				<div>
					<p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
					<a href="/">GameStore</a>.
					</p>
				</div>
			</div>
			<div>
				<ul class="social-icons">
					<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
					<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
				</ul>
			</div>
		</div>
  	</footer>
</body>
</html>