<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head')%>
<body>
	<%- include('./partials/header')%>
	<main class="main-body">
		<div class="detalle">
		   <div class="fotos">
			  <img class= "fotoProducto" src="/img/fotoProducto.jpg" alt="Foto de Producto">
			   <div class= "miniFotos">
				   <ul>
					   <li><img class="extra" style="width:114px; height:190px;" src="/img/LastofUs2img1.jpg"></li>
					   <li><img class="extra" style="width:114px; height:190px;" src="/img/LastofUs2img2.jpg"></li>
					   <li><img class="extra" style="width:114px; height:190px;" src="/img/LastofUs2img3.jpg"></li>
				  </ul>
			  </div>
		   </div>
			<div class="descripcion-edit">
				<form action="/registrarse" method="POST" class="create-form">
					<div class="control-formulario">
						<label>Nombre de juego:</label>
						<input type="text" name="nombre" class="control" required minlength="2" value="The Last Of Us part II">
					</div>
					<div class="control-formulario">
						<label>Plataforma:</label>
						<select name="consola" required>
							<option value="1">Xbox</option>
							<option value="2">PlayStation</option>
							<option value="3">Nintendo</option>
							<option value="4" selected>PC</option>
						</select>
					</div>
					<div class="control-formulario">
						<label>Precio:</label>
						<input type="text" name="precio" class="precio" required minlength="2" value="$60.99">
					</div>
					<div class="control-formulario">
						<label>Descripcion:</label>
						<textarea name="descripcion" rows="10" cols="40" class="control" required>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, tempora ullam. Aspernatur accusantium distinctio quos aut officia impedit dignissimos perferendis non, eum quaerat dolorum sunt, in ipsum amet architecto ipsam.</textarea>
					</div>
					<div class="control-formulario">
						<label>Géneros del videojuego:</label>
						<input type="checkbox" name="generos" value="Accion" checked>Acción
						<input type="checkbox" name="generos" value="Deportes">Deportes
						<input type="checkbox" name="generos" value="RPG">RPG
						<input type="checkbox" name="generos" value="Shooters" checked>Shooters
						<input type="checkbox" name="generos" value="Aventura" checked>Aventura
						<input type="checkbox" name="generos" value="Carreras">Carreras
					</div>
					<div class="control-formulario">
						<label>Caratula:</label>
						<input type="file" name="caratula" accept=".jpg" class="control" required>
					</div>
					<div class="control-formulario">
						<label>Imagenes del juego:</label>
						<input type="file" name="imagenes" accept=".jpg" class="control" required>
					</div>
					<button type="submit" class="form-button">Guardar</button>
					<button type="reset" class="form-button">Borrar</button>
				</form>
			</div>
		</div>
	</main>
	<%- include('./partials/footer')%>
</body>
</html>